<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/stylesProjects.css" />
    <title>EBD</title>
  </head>
  <body>
    <div class="container">
      <div class="video-container">
        <h1>Escola Biblica Dominical</h1>
        <h4>
          O vídeo ficou um pouco grande e não consegui colocá-lo aqui, mas você
          pode ver na publicação do LinkedIn, junto de mais detalhes do sistema.
          <br />
          <a
            class="link"
            href="https://www.linkedin.com/feed/update/urn:li:activity:7133175642509991937/"
            >Assista o vídeo aqui</a
          >
        </h4>
      </div>
    </div>
  </body>
</html>
