<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/stylesProjects.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Get a Pet</title>
  </head>
  <body>
    <div class="container">
      <div class="video-container">
        <h1>Get a Pet</h1>
        <h4>
          O vídeo ficou um pouco grande e não consegui colocá-lo aqui, mas você
          pode ver na publicação do LinkedIn, junto de mais detalhes do sistema.
          <br />
          <a
            class="link"
            href="https://www.linkedin.com/feed/update/urn:li:ugcPost:7104558417305829376/"
            >Assista o vídeo aqui</a
          >
        </h4>
        <!-- <video class="video" src="/videos/GetAPet.mp4" controls>
          Seu navegador não suporta a tag de vídeo.
        </video> -->
      </div>
    </div>
  </body>
</html>
